<!doctype html>


<html ng-app="bookmarkApp">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Bookmarks</title>

	<link rel="stylesheet" href="css/bootstrap-2.3.2.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/bookmark.css" />
	<style>
		
	</style>

	<script src="js/lib/jquery/jquery-2.1.1.min.js"></script>
	<script src="js/lib/bootstrap/bootstrap-2.3.2.min.js"></script>
	<script src="js/lib/angular/angular.min.js"></script>
	<script src="js/lib/angular/angular-route.min.js"></script>
	<script src="js/app.js"></script> 
	<script src="js/service/bookmarkDataService.js"></script> 
	<script src="js/directive/customSelect.js"></script>
	<script src="js/controller/main.js"></script> 

</head>

<body ng-controller="mainController" class="page">

		<header>
		<div class="jumbotron text-center head">
			<h1 class="title">BookMarks </h1>
		</div>
		</header>
	<div class="container">

		
		<div id="bookmark-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<div class="formDiv">
					<div class="form-group">
						
						<input type="text" class="form-control text-center inputFieldForBookmark" placeholder="Title" ng-model="BookmarkInfo.newBookmark.Title">
						<input type="text" class="form-control text-center inputFieldForBookmark" placeholder="Url" ng-model="BookmarkInfo.newBookmark.Url">
						<div class="form-control" style = "box-shadow:none;height:32px;" custom-select="g for g in BookmarkInfo.growable | filter: $searchTerm" ng-model="BookmarkInfo.newBookmark.Folder" custom-select-options="growableOptions"></div>
						
					</div>
					
					<div class="clearfix buttonsDiv">
						<button type="submit" ng-hide="BookmarkInfo.editValues" class="btn btn-primary btn-lg" ng-click="createBookmark(BookmarkInfo.newBookmark)">Add</button>
						<button type="submit" ng-show="BookmarkInfo.editValues" class="btn btn-primary btn-lg" ng-click="updateBookmark(BookmarkInfo.newBookmark)">Update</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="linear"></div>
		
		<div id="bookmark-list" class="row ">
			 <div ng-view></div>
			 
		</div>

	</div>

</body>
</html>
